*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.btn{
    position: relative;
    border: none;
    background-color: lightcoral;
    color: #333;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 2rem;
    margin: 8rem;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.btn1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom left ;
    transform: translateX(-10rem);
    background-color: lightblue;
    transition: all 0.5s;
    z-index: -1;
}

.btn1:hover,.btn2:hover{
    color: white;
    background-color: transparent;
}

.btn1:hover::before{
    transform: translateX(0);
}

.btn2::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    /* transform-origin: top left; */
    background-color: lightblue;
    transition: all 0.5s;
    z-index: -1;
}

.btn2:hover::before{
    transform: translateY(0);
}

.btn3:hover{
    color: white;
    background-color: lightblue;
    transform: translateY(-2px) scale(1.25);
}
